{% extends "labbd.html" %}
{% block queries %}
<section>
	<h2>Список запросов</h2>
	<h3><a href="/labbd/queries/1/">Запрос №1</a></h3>
	<p>Выведите список клиентов с указанием суммы заказа для указанного мастера.</p>
	<h3><a href="/labbd/queries/2/">Запрос №2</a></h3>
	<p>Выведите список квалификаций мастеров для указанного клиента.</p>
	<h3><a href="/labbd/queries/3/">Запрос №3</a></h3>
	<p>Выведите список названий причесок, выполненных указанным мастером для указанного клиента.</p>
	<h3><a href="/labbd/queries/4/show">Запрос №4</a></h3>
	<p>Выведите ФИО и квалификацию мастера, выполнившего заказов на наибольшую сумму.</p>
	<h3><a href="/labbd/queries/5/show">Запрос №5</a></h3>
	<p>Вывести мастера, умеющего делать все прически.</p>
	<h3><a href="/labbd/queries/6/">Запрос №6</a></h3>
	<p>Вывести прически, которые не делались указанному клиенту.</p>
	<h3><a href="/labbd/queries/7/show">Запрос №7</a></h3>
	<p>Вывести клиента, потратившего наибольшее количество денег на прически.</p>
</section>
{% endblock %}