{% extends "labbd2_show_query.html" %}
{% block query06 %}
	<table border="1" width="30%">
		<tr align="center">
			<td colspan="2"><b>Клиент №{{ client.id }} </b><a href="/labbd/clients/{{ client.id }}">{{ client }}</a></td>
		</tr>
		<tr align="center">
			<td><b>Прическа №</b></td>
			<td><b>Название</b></td>
		</tr>
		{% for obj in objs %}
			<tr align="center">
				<td>{{ obj.id }}</td>
				<td><a href="/labbd/hairstyles/{{ obj.id }}">{{ obj.title }}</a></td>
			</tr>
		{% endfor %}
	</table>
	<p>Время выполнения: {{ time }}</p>
{% endblock %}