{% extends "labbd2_show_query.html" %}
{% block query04 %}
	<table border="1" width="30%">
		<tr align="center">
			<td><b>Мастер №</b></td>
			<td><b>Фамилия</b></td>
			<td><b>Имя</b></td>
			<td><b>Отчество</b></td>
			<td><b>Сумма</b></td>
		</tr>
		{% for obj in objs %}
			<tr align="center">
				<td>{{ obj.id }}</td>
				<td>{{ obj.surname }}</td>
				<td>{{ obj.name }}</td>
				<td>{{ obj.patronymic }}</td>
				<td>{{ obj.summ }}</td>
			</tr>
		{% endfor %}
	</table>
	<p>Время выполнения: {{ time }}</p>
{% endblock %}