{% extends "labbd.html" %}
{% block master %}
<section>
	<h3>Мастер №{{ master.getId }}</h3>
	<form action="/labbd/masters/{{ master.getId }}/update/" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" class="button" value="Сохранить"></input>
	</form>
	<!--form action="/labbd/masters/">
		<input type="submit" class="button" value="Отмена"></input>
	</form-->
	<form action="/labbd/masters/{{ master.getId }}/delete/" method="post">
		{% csrf_token %}
		<input type="submit" class="button" value="Удалить"></input>
	</form>
</section>
{% endblock %}